@import "bulma/sass/utilities/_all";

html {
	overflow-y: auto;
}

body,html {
	background-color: #f5f5f5;
}

.navbar {
	&.is-transparent {
		background-color: transparent;
	}
}

.hero.is-light {
	a.navbar-item:hover, a.nav-item:hover, a.navbar-item.is-active, a.nav-item.is-active {
		background-color: rgba(0,0,0,0.9);
		color: #fff;
	}
}

.article-card {
	width: 100%;
}
