section.section.hero.is-dark.footer
  section.hero-body
    .container
      span.level
        span.level-left
          span.level-item
            img(alt='writr' src='/assets/writr.svg' title='writr' style='height: 60px;')
          span.level-item
            h4.title.is-4 writr
      div
        span| Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      div
        span| 15it302j-project
