.container
  nav.navbar.is-light
    .navbar-brand
      a.navbar-item.level(href='/')
        .level-item
          img(src='/assets/writr.svg' alt='logo' height="auto" width="28px" style="margin-right: 1rem;")
        .level-item
          b.is-strong.is-dark Writr
    .navbar-menu
      .navbar-end
        if header.read
          a.navbar-item.is-active(href="/") #[span.icon #[i.fa.fa-book]] Read
        else
          a.navbar-item(href="/") #[span.icon #[i.fa.fa-book]] Read
        if header.edit
          a.navbar-item.is-active(href="/edit") #[span.icon #[i.fa.fa-edit]] Edit
        else
          a.navbar-item(href="/edit") #[span.icon #[i.fa.fa-edit]] Edit
        if header.write
          a.navbar-item.is-active(href="/write") #[span.icon #[i.fa.fa-pencil]] Write
        else
          a.navbar-item(href="/write") #[span.icon #[i.fa.fa-pencil]] Write
        a.navbar-item(href="/logout") #[span.icon #[i.fa.fa-sign-out]] Logout
