doctype html
html(lang='en')
  head

    //- meta fixes
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- title
    block head-title
      title= title

    //- favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='theme-color', content='#ffffff')

    //- fontawesome+bulma
    link(rel='stylesheet' href='/assets/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/assets/bulma-0.5.1/css/bulma.min.css')

    link(rel='stylesheet' href='/css/app.css')
    block page-css

    script(type='text/javascript' src='/js/bulma-main.js')
    script(type='text/javascript' src='/js/moment.min.js')
    block page-js

  body
    block content

    div#notifications

    block page-scripts
