extends layout

block content
  section.section.hero.is-light.is-fullheight
    section.hero-body
      .container.has-text-centered

        form(action='/login', method='POST')
          .field
            p.control.has-icons-left
              input.input(type='text' name='username' placeholder='username' required)
              span.icon.is-small.is-left
                i.fa.fa-user
          .field
            p.control.has-icons-left
              input.input(type='password' name='pass' placeholder='password' required)
              span.icon.is-small.is-left
                i.fa.fa-lock
          .field.is-grouped.is-grouped-centered
            input.button.is-primary(type='submit' value='Submit')
