extends layout

block page-css
  link(href='/assets/quill/dist/quill.snow.css' rel='stylesheet')

block page-js
  script(type='text/javascript' src='/assets/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='/assets/quill/dist/quill.min.js')

  script(type='text/javascript' src='/js/notify.js')

block page-scripts
  script(type="text/javascript").
    window.KEY = "#{user.key}";
    window.USER = "#{user.username}";
  script(src='/js/write.js')

block content
  .container
    section.hero.is-light
      .hero-head
        include includes/header.pug

    section.section.is-light
      form#article-form
        //- TITLE
        .field
          label.label Title
          .control
            input#article-title.input(type='text' required)
        //- CATEGORY
        .field
          label.label Category
          .control
            .select
              select#article-category
                each opt in categories
                  option(value=opt.categoryid)= opt.name
        //- DRAFT
        .field
          label.label Publish
          .control
            label.checkbox
              input#article-isdraft(type='checkbox')
              | &nbsp; If checked, article will be published. Otherwise saved as draft.
        //- CONTENT
        .field
          label.label Content
          .control
            #article-editor
        br
        br
        //- SUBMIT
        .field.is-grouped.is-grouped-centered
          input.button.is-primary(type='submit' value='Submit')
